{
  "blogDomain": "foo.bar",
  "gaTrackingId": "UA-xxxxxxx-1",
  "firebase": {
    "apiKey": "<api-key>",
    "authDomain": "<project-id>.firebaseapp.com"
  },
  "apiBaseUrl": "http://localhost:6868"
}
