{% extends "_layout.twig" %}

{% block title %}
	{{ title ~ " | Chanh's blog" }}
{% endblock %}

{% block header %}
	<header class="header2">
		<a class="head" href="/">
			<span class="avatar"></span>
			<span class="header-link">Chanh's Blog</span>
		</a>
		<a class="subscribe" href="/" rel="noopener noreferrer" target="blank">Follow me</a>
	</header>
{% endblock %}

{% block body %}
	<article itemscope itemtype="https://schema.org/BlogPosting" classname="post-container">
		<section classname="content">{{ content }}</section>

		<section className="copyright">
			Có lòng thì cho mình xin ít like rồi thích share hay post lại gì cũng được.
			<strong> Cơ mà</strong> phải <strong>ghi rõ nguồn, tác giả và không làm thay đổi nội dung bài viết</strong>. 
			"Ứ làm theo đấy rồi sao!". Ờ thì cũng được thôi, sau này trên đường đời tấp nập, nhỡ có va vào nhau thì cho mình nện cục gạch!!!
			<i id="brick" /> Chào thân ái và quyết thắng!
		</section>
		
		<section class="likebox">
      {% set source = "https://www.facebook.com/plugins/like.php?href={{ likeboxSource }}&layout=standard&action=like&size=small&show_faces=true&share=true&colorscheme=light&appId=1451967558408105" %}
			<iframe class="fb-like"
				src="{{ source }}"
				title="Facebook like box"
				height="56"
				width="450"
				style="border:none;overflow:hidden"
				scrolling="no"
				frameborder="0"
				allowtransparency="true"
				allow="encrypted-media">
			</iframe>
		</section>

		<section class="comments"></section>

		<button onclick="" id="go-top" title="Go to top">
			<i classname="icon-up-open"></i>
		</button>
	</article>
{% endblock %}
